.col-md-11.col-md-offset-05.top10
  .redBorderTitle{:style => "margin-left: 3px"}
    %h4{:style => "margin-left: 20px"}
      %b PROJETOS
  %ul.list-group.col-md-14
    %li.list-group-item
      = link_to dashboard_index_path, :style => "margin-left: 12px" do
        %b Meus sites
    %li.list-group-item
      %a{:href => "#"} Faturas e Pagamentos
    %li.list-group-item
      %a{:href => "#"} Domínios
    %li.list-group-item
      %a{:href => "#"} Plano atual
.col-md-11.col-md-offset-05.top10
  .redBorderTitle{:style => "margin-left: 3px"}
    %h4{:style => "margin-left: 20px"}
      %b CONFIGURAÇÕES
  %ul.list-group.col-md-14
    %li.list-group-item
      = link_to 'Minha Conta', edit_user_registration_path

    %li.list-group-item
      = link_to "Logout", destroy_user_session_path, method: :delete
