.row.top30
  %h3.col-md-12.text-center Seja bem vindo a sua conta.
  .col-md-3.col-md-push-1.top30
    %h3.col-md-11.blueBorderTitle.col-md-pull-3 Gerenciar Conta
  .col-md-3.col-md-offset-05.top40{:style => "margin-left: 5.5%"}
    %a{:href => "#", :target => "_self"}
    .btn-group.dropdown
      = link_to templates_path, notice: 'teste', class: 'btn btn-danger btn-lg noBorderRadius' do
        + Criar novo site
