%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}/
    %title PoolSites - Construtor de sites
    %link{:href => "css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/js/bootstrap.js", :type => "text/javascript"}
  %body
    / -----INICIO DA MUDANCA NO MENU-------
    .col-md-12{:style => "background-color: #333333"}
      .col-md-3.col-md-pull-05.col-xs-pull-1
        %a{:href => "index.html", :target => "_self"}
          %img.text-left{:alt => "", :height => "80", :src => "images/poolSitesLogo.png", :style => "", :width => "294"}/
      .container
        .col-md-9.col-md-push-055.top25.reponsiveStyleAdjust
          .col-md-1.col-md-offset-1.col-md-push-05
            %a.white{:href => "index.html", :target => "_self"}
            %h6.text-center Home
          .col-md-2.col-md-push-05
            %a.white{:href => "quemsomos.html", :target => "_self"}
            %h6.text-center Quem somos
          .col-md-1.col-md-push-05
            %a.white{:href => "templates.html", :target => "_self"}
            %h6.text-center Templates
          .col-md-1.col-md-push-1
            %a.white{:href => "planos.html", :target => "_self"}
            %h6.text-center.selected Planos
          .col-md-3.col-md-push-1
            %a.white{:href => "oportunidade.html", :target => "_self"}
            %h6.text-center Oportunidade de negócio
          .col-md-1.col-md-push-1
            %a.white{:href => "contato.html", :target => "_self"}
            %h6.text-center Contato
          .col-md-1.col-md-push-1
            %a.white{:href => "login.html", :target => "_self"}
            %h6.text-center LOGIN
    / -----FINAL DA MUDANCA NO MENU-------
    .container
      .row.top30
        %h3.col-md-12.text-center Seu site online com um orçamento que cabe no seu bolso.
        .col-md-11.col-md-offset-05
          %h3.col-md-11.blueBorderTitle.col-md-pull-055 Planos
          / [CHANGELOG] replace no nome da classe da cor da border
        .col-md-3.col-md-offset-1.top30.clearfix
          .blueBorderTitle.lightGrayBg
            / [CHANGELOG] replace no nome da classe da cor da border
            %h2.lineHeight80.blue.text-center Plano 1
          %div
            %h1.lineHeight40.gray.text-center R$ 9,90
            %h6.lineHeight20.gray.text-center Por mês
          %ul.list-group.col-md-14
            %li.list-group-item Manicure
            %li.list-group-item Corretor
            %li.list-group-item Advogado
            %li.list-group-item Freelancer
            %li.list-group-item Música
            %li.list-group-item Varejo/Moda
            %li.list-group-item Pessoal
          .col-md-12
            %h6.lineHeight20.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          %button.col-md-8.col-md-offset-2.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4.payButton.planOneButton.shadowBox.sixteen.lineHeight30.bottom20.top15{:type => "button"}
            COMPRAR
        .col-md-3.col-md-offset-05.top30.clearfix
          .redBorder.lightGrayBg
            %h2.lineHeight80.red.text-center Plano 2
          %div
            %h1.lineHeight40.gray.text-center R$ 19,90
            %h6.lineHeight20.gray.text-center Por mês
          %ul.list-group.col-md-14
            %li.list-group-item Manicure
            %li.list-group-item Corretor
            %li.list-group-item Advogado
            %li.list-group-item Freelancer
            %li.list-group-item Música
            %li.list-group-item Varejo/Moda
            %li.list-group-item Pessoal
          .col-md-12
            %h6.lineHeight20.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          %button.col-md-8.col-md-offset-2.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4.payButton.planTwoButton.shadowBox.sixteen.lineHeight30.bottom20.top15{:type => "button"}
            COMPRAR
        .col-md-3.col-md-offset-05.top30.clearfix
          .greenBorderTitle.lightGrayBg
            / [CHANGELOG] replace no nome da classe da cor da border
            %h2.lineHeight80.green.text-center Plano 3
          %div
            %h1.lineHeight40.gray.text-center R$ 29,90
            %h6.lineHeight20.gray.text-center Por mês
          %ul.list-group.col-md-14
            %li.list-group-item Manicure
            %li.list-group-item Corretor
            %li.list-group-item Advogado
            %li.list-group-item Freelancer
            %li.list-group-item Música
            %li.list-group-item Varejo/Moda
            %li.list-group-item Pessoal
          .col-md-12
            %h6.lineHeight20.text-center
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          %button.col-md-8.col-md-offset-2.col-sm-4.col-sm-offset-4.col-xs-4.col-xs-offset-4.payButton.planThreeButton.shadowBox.sixteen.lineHeight30.bottom20.top15{:type => "button"}
            COMPRAR
        .col-md-11.col-md-offset-0.top30
          %h5.lineHeight20{:style => "margin-left: 3%"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
    .container
      .row.top5
        .col-md-4.col-md-offset-3
          .col-md-1.col-md-offset-4.col-sm-1.col-xs-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/facebook.jpg", :width => "30"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/googlePlus.jpg", :width => "30"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/linkedin.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/pinterest.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/rss.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/twitter.jpg", :width => "29"}/
    .container
      .row.top60
        .col-md-7
          .col-md-1.col-md-pull-055
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Home
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Quem somos
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Templates
          .col-md-1
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Planos
          .col-md-3
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Oportunidade de negócio
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Fale conosco
        .col-md-2.col-md-offset-3
          %a{:href => "planos.html", :target => "_self"}
          .btn-group.dropup
            %button.btn.btn-default.btn-lg.dropdown-toggle.noBorderRadius{"data-toggle" => "dropdown", :type => "button"}
              Voltar ao topo
              %span.caret
    .container
      .row.top10
        .col-md-7
          %p.text-left.footer @2014 - PoolSites - Todos os direitos reservados.
        .col-md-5
          .col-md-9
            %p.text-right.footer Desenvolvido por
          .col-md-3
            %a{:href => "#", :target => "#"}
              %img.img-responsive{:alt => "Winmoon - Simple as it is", :height => "24", :src => "images/winmonn.jpg", :width => "92"}/
