<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BeedoSites - Construtor de sites</title>
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

</head>
<body>
<img src="images/sombra.png" class="img-responsive sombra"
     alt="">

<div class="container bottom5">

    <div class="row top20">
        <div class="col-md-3">
            <a href="index.html" target="_self">
                <img src="images/logo.png" class="img-responsive" width="149" height="62"
                     alt="logo construtor de sites - beedoSites">
            </a>
        </div>
        <div class="col-md-9">
            <div class="col-md-1">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center">Home</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a class="" href="quemsomos.html" target="_self">
                    <h6 class="text-center">Quem somos</h6>
                </a>

            </div>
            <div class="col-md-2">
                <a class="" href="templates.html" target="_self">
                    <h6 class="text-center">Templates</h6>
                </a>
            </div>
            <div class="col-md-1">
                <a class="" href="planos.html" target="_self">
                    <h6 class="text-center">Planos</h6>
                </a>

            </div>
            <div class="col-md-3">
                <a class="" href="oportunidade.html" target="_self">
                    <h6 class="text-center">Oportunidade de negócio</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a class="" href="contato.html" target="_self">
                    <h6 class="text-center">Fale conosco</h6>
                </a>

            </div>
            <div class="col-md-1">
                <a class="" href="login.html" target="_self">
                    <h6 class="text-center selected">LOGIN</h6>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row top30">
        <h3 class="col-md-12 text-center">Faça login</h3>
    </div>
</div>

    <div class="container">
        <div class="row top5">
            <div class="col-md-4 col-md-offset-3">
                <div class="col-md-1 col-md-offset-4 col-sm-1 col-xs-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/facebook.jpg" class="img-responsive" width="30" height="30" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-055 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/googlePlus.jpg" class="img-responsive" width="30" height="30" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-055 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/linkedin.jpg" class="img-responsive" width="29" height="30" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-055 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/pinterest.jpg" class="img-responsive" width="29" height="30" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-055 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/rss.jpg" class="img-responsive" width="29" height="30" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-md-1 col-md-offset-055 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
                    <div class="darkGrayBgColor">
                        <a href="#" target="_blank">
                            <img src="images/twitter.jpg" class="img-responsive" width="29" height="30" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row top60">
        <div class="col-md-7">
            <div class="col-md-1 col-md-pull-055">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Home</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Quem somos</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Templates</h6>
                </a>
            </div>
            <div class="col-md-1">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Planos</h6>
                </a>
            </div>
            <div class="col-md-3">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Oportunidade de negócio</h6>
                </a>
            </div>
            <div class="col-md-2">
                <a class="" href="index.html" target="_self">
                    <h6 class="text-center footer">Fale conosco</h6>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-3">
            <a href="login.html" target="_self">
                <div class="btn-group dropup">
                    <button class="btn btn-default btn-lg dropdown-toggle noBorderRadius" type="button" data-toggle="dropdown">
                        Voltar ao topo <span class="caret"></span>
                    </button>
                </div>
            </a>
        </div>
    </div>

</div>
<div class="container">
    <div class="row top10">
        <div class="col-md-7">
            <p class="text-left footer">@2014 - BeedoSites - Todos os direitos reservados.</p>
        </div>
        <div class="col-md-5">
            <div class="col-md-9">
                <p class="text-right footer">Desenvolvido por</p>
            </div>
            <div class="col-md-3">
                <a href="#" target="#">
                    <img src="images/winmonn.jpg" class="img-responsive" width="92" height="24"
                         alt="Winmoon - Simple as it is">
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>