%html{:lang => "pt-br"}
  %head
    %meta{:charset => "UTF-8"}/
    %title PoolSites - Construtor de sites
    %link{:href => "css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/js/bootstrap.js", :type => "text/javascript"}
  %body
    %img.img-responsive.sombra{:alt => "", :src => "images/sombra.png"}/
    .container.bottom5
      .row.top20
        .col-md-3
          %a{:href => "index.html", :target => "_self"}
            %img.img-responsive{:alt => "logo construtor de sites - Pool Sites", :height => "62", :src => "images/logo.png", :width => "149"}/
        .col-md-9
          .col-md-1
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center Home
          .col-md-2
            %a{:href => "quemsomos.html", :target => "_self"}
            %h6.text-center.selected Quem somos
          .col-md-2
            %a{:href => "templates.html", :target => "_self"}
            %h6.text-center Templates
          .col-md-1
            %a{:href => "planos.html", :target => "_self"}
            %h6.text-center Planos
          .col-md-3
            %a{:href => "oportunidade.html", :target => "_self"}
            %h6.text-center Oportunidade de negócio
          .col-md-2
            %a{:href => "contato.html", :target => "_self"}
            %h6.text-center Fale conosco
          .col-md-1
            %a{:href => "login.html", :target => "_self"}
            %h6.text-center LOGIN
    .fullContainer.yellowBgColor
      .container
        .row
          .col-md-6
            %img.text-right.img-responsive{:alt => "Pool Sites - construtor de sites", :height => "208", :src => "images/guindaste.png", :width => "420"}/
          .col-md-5
            %h3.text-center.top40
              O seu negócio ONLINE
            %h3.text-center.top10
              de maneira FÁCIL
            .col-md-4.col-md-offset-4.col-sm-2.col-sm-offset-5.col-xs-6.col-xs-offset-4
              %img.img-responsive{:alt => "logo construtor de sites - Pool Sites", :height => "62", :src => "images/logo.png", :width => "149"}/
    .fullContainer.darkGrayBgColor
      .container
        .row
          .col-md-9.top5.bottom5
            .col-md-3.col-md-pull-055
              %a.white{:href => "quemsomos.html", :target => "_self"}
              %h5.text-center Sobre o construtor de sites
            .col-md-3.col-md-offset-055
              %a.white{:href => "mentores.html", :target => "_self"}
              %h5.text-center.yellowBorder Mentores
            .col-md-3.col-md-pull-05
              %a.white{:href => "midia.html", :target => "_self"}
              %h5.text-center.yellowBorder Saiu na mídia
    .container
      .row.top30
        .col-md-7.col-md-offset-05
          %h3.col-md-11.yellowBorderTitle.col-md-pull-055 Sobre o construtor de sites
        .col-md-11.col-md-offset-0.top30
          %h5.lineHeight20{:style => "margin-left: 3%"}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %br/
            %br/
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %br/
            %br/
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            %br/
            %br/
            %br/
            %br/
            %br/
            %br/
    .container
      .row.top5
        .col-md-4.col-md-offset-3
          .col-md-1.col-md-offset-4.col-sm-1.col-xs-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/facebook.jpg", :width => "30"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/googlePlus.jpg", :width => "30"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/linkedin.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/pinterest.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/rss.jpg", :width => "29"}/
          .col-md-1.col-md-offset-055.col-sm-1.col-sm-offset-1.col-xs-1.col-xs-offset-1
            .darkGrayBgColor
              %a{:href => "#", :target => "_blank"}
                %img.img-responsive{:alt => "...", :height => "30", :src => "images/twitter.jpg", :width => "29"}/
    .container
      .row.top60
        .col-md-7
          .col-md-1.col-md-pull-055
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Home
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Quem somos
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Templates
          .col-md-1
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Planos
          .col-md-3
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Oportunidade de negócio
          .col-md-2
            %a{:href => "index.html", :target => "_self"}
            %h6.text-center.footer Fale conosco
        .col-md-2.col-md-offset-3
          %a{:href => "quemsomos.html", :target => "_self"}
          .btn-group.dropup
            %button.btn.btn-default.btn-lg.dropdown-toggle.noBorderRadius{"data-toggle" => "dropdown", :type => "button"}
              Voltar ao topo
              %span.caret
    .container
      .row.top10
        .col-md-7
          %p.text-left.footer @2014 - PoolSites - Todos os direitos reservados.
        .col-md-5
          .col-md-9
            %p.text-right.footer Desenvolvido por
          .col-md-3
            %a{:href => "#", :target => "#"}
              %img.img-responsive{:alt => "Winmoon - Simple as it is", :height => "24", :src => "images/winmonn.jpg", :width => "92"}/
