/*Menu
------------------------------------*/
/*Top Bar*/
.top-v1 .top-v1-data li a:hover i {
	color: #687074;
}

/*Header Default
------------------------------------*/
/*Navbar*/
.header .navbar-default .navbar-nav > .active > a {
	color: #687074;
}

/*Navber Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background: white;
}

.navbar-toggle:hover {
	background: white !important;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

/*Responsive @Media 
------------------------------------*/
@media (min-width: 767px) {
	/*Navbar*/
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		color: #687074;
		background: white !important;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		background: white;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu {
		border-top: solid 2px white;
	}
}