- if @editing

  = javascript_include_tag "ckeditor/override"
  = javascript_include_tag "ckeditor/init"
  :javascript
    jQuery('.nav.navbar-nav a').click(function(e){
      e.preventDefault();
      return false;
    });
    jQuery('#editor_header a').click(function(e){
      for(var instanceName in CKEDITOR.instances) {
         console.log(saveData(CKEDITOR.instances[instanceName]));
      }
      return true;
    });
    CKEDITOR.on( 'instanceCreated', function( event ) {
      var editor = event.editor,
        element = editor.element;
        editor.config.title = "Clique para editar"
      editor.on('blur', function (e) {
        saveData(e.editor);
      })
    });

    function saveData(editor) {
        if (editor.checkDirty()) {
          jQuery.post( "/sites/#{@site.id}/save_content", { target: editor.element.data('id'), page: editor.element.data('page'), content: editor.getData() }, function( data ) {
            console.log( data );
          }, "json");
        }
    }
