.fullContainer
  = image_tag "bannerQuemsomos.jpg", :alt => "Pool Sites - construtor de sites", :height => "201", :class => "img-responsive", :width => "1678"
.fullContainer.darkGrayBgColor
  .container
    .row
      .col-md-9.top5.bottom5
        .col-md-3.col-md-pull-055
          = link_to about_index_path, class: "white" do
            %h5.text-center Sobre o construtor de sites
        .col-md-3.col-md-offset-055
          = link_to mentors_path, class: "white" do
            %h5.text-center.blueBorder Mentores
        .col-md-3.col-md-pull-05
          = link_to media_path, class: "white" do
            %h5.text-center.blueBorder Saiu na mídia
