= render "sites/#{@site.template.path}/breadcrumbs"
.container
  .row
    = editable_content "content_1" do
      .col-md-4.md-margin-bottom-50
        / Our Services
        .servive-block.servive-block-in.margin-bottom-20
          .servive-block-in.servive-block-colored.servive-block-orange
            %h4 Massagem nos pés
            %p
              %i.icon-lightbulb
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
        / /welcome-block
        / End Our Services
        %p
          Unify is an
          %strong.color-green incredibly beautiful
          responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers.
        %p
          Award winning digital agency. We bring a personal and effective approach adipiscing elit approach to
          %strong.color-green every project
          we work on, which is why our clients love us and why they. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.
        %p Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna consectetur and effective.
        %br/
      / /col-md-4
      .col-md-4.md-margin-bottom-50
        / Our Services
        .servive-block.servive-block-in.margin-bottom-20
          .servive-block-in.servive-block-colored.servive-block-green
            %h4 Manicure e Pedicure
            %p
              %i.icon-gear
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
        / /welcome-block
        / End Our Services
        %p Nolibero de consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugia. It works on all major web browsers.
        %br/
        %blockquote.hero-unify.margin-bottom-40
          %p Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.
          %small CEO, Jack Baur
        %p
          Unify is an
          %strong.color-green incredibly beautiful
          responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers.
        .margin-bottom-30.clearfix
      / /col-md-4
      .col-md-4.md-margin-bottom-50
        / Our Services
        .servive-block.servive-block-in.margin-bottom-20
          .servive-block-in.servive-block-colored.servive-block-red
            %h4 Serviços diversos
            %p
              %i.icon-globe
            %p Donec id elit non mi porta gravida at eget metus id elit mi egetine.
        / /welcome-block
        / End Our Services
        %p Nolibero de consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugia. It works on all major web browsers.
        %br/
        %ul.list-unstyled.who.margin-bottom-30
          %li
            %a{:href => "#"}
              %i.icon-home>
              5B Streat, City 50987 New Town US
          %li
            %a{:href => "#"}
              %i.icon-envelope-alt>
              info@example.com
          %li
            %a{:href => "#"}
              %i.icon-phone-sign>
              1(222) 5x86 x97x
          %li
            %a{:href => "#"}
              %i.icon-globe>
              http://www.example.com
        %p
          Unify is an
          %strong.color-green incredibly beautiful
          responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers.