!!!
/[if IE 8]
  <html lang="pt-br" class="ie8">
/[if IE 9]
  <html lang="pt-br" class="ie9">
/ [if !IE]><!
%html{:lang => "pt-br"}
  / <![endif]
  %head
    %title Manicure Theme
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / CSS Global Compulsory
    %link{:href => "assets/plugins/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    %link{:href => "assets/css/headers/header2.css", :rel => "stylesheet"}/
    %link{:href => "assets/plugins/bootstrap/css/bootstrap-responsive.min.html", :rel => "stylesheet"}/
    %link{:href => "assets/css/responsive.css", :rel => "stylesheet"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    / CSS Implementing Plugins
    %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
    %link{:href => "assets/plugins/fancybox/source/jquery.fancybox.css", :rel => "stylesheet"}/
    %link{:href => "assets/plugins/bxslider/jquery.bxslider.css", :rel => "stylesheet"}/
    %link{:href => "assets/plugins/flexslider/flexslider.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    / CSS Theme
    %link#style_color{:href => "assets/css/themes/orange.css", :rel => "stylesheet"}/
    %link#style_color-header-1{:href => "assets/css/themes/headers/header1-orange.css", :rel => "stylesheet"}/
    %link#style_color-header-2{:href => "assets/css/themes/headers/header2-orange.css", :rel => "stylesheet"}/
  %body
    / === Top ===
    .top-v1
      .container
    / /top-v1
    / === End Top ===
    / === Header ===
    .header.margin-bottom-10
      .navbar.navbar-default{:role => "navigation"}
        .container
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "index.html", :style => "margin: 15px 0 0 -15px"}
              %img#logo-header{:alt => "Logo", :src => "assets/img/logo.png"}/
          / Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse.navbar-responsive-collapse{:style => "margin-top: 56px"}
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a{:href => "index.html"}
                  Home
              %li.dropdown.active
                %a{:href => "sobrenos.html"}
                  Sobre nós
              %li.dropdown
                %a{:href => "servicos.html"}
                  Serviços
              %li.dropdown
                %a{:href => "contatos.html"}
                  Contatos
          / /navbar-collapse
    / /header
    / === End Header ===
    / === Content Part ===
    / === Breadcrumbs ===
    .breadcrumbs.margin-bottom-30{:style => "margin-top: -8px"}
      .container
        %h1.pull-left Sobre nós
        %ul.pull-right.breadcrumb
          %li
            %a{:href => "index.html"} Home
          %li
            %a{:href => "sobrenos.html"} Sobre nós
      / /container
    / /breadcrumbs
    / === End Breadcrumbs ===
    / === Content Part ===
    .container
      .margin-bottom-50
        %img.img-responsive{:alt => "", :src => "assets/img/sobrenos/imgbanner.jpg"}/
      .tag-box.tag-box-v2
        %h2 Sobre nossa empresa
        %p Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.
      .margin-bottom-20.clearfix
      .row
        / Accordion
        .col-md-7.md-margin-bottom-40
          #accordion-1.panel-group.acc-v1
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-One"}
                    A empresa
              #collapse-One.panel-collapse.collapse.in
                .panel-body
                  .row
                    .col-md-4
                      %img.img-responsive{:alt => "", :src => "assets/img/sobrenos/img5.jpg"}/
                    .col-md-8
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-Two"}
                    A equipe
              #collapse-Two.panel-collapse.collapse
                .panel-body
                  .row
                    .col-md-8
                      %p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                      %ul.list-unstyled
                        %li
                          %i.icon-ok.color-green
                          Donec id elit non mi porta gravida at eget metus..
                        %li
                          %i.icon-ok.color-green
                          Fusce dapibus, tellus ac cursus comodo egetine..
                        %li
                          %i.icon-ok.color-green
                          Food truck quinoa nesciunt laborum eiusmod runch..
                    .col-md-4
                      %img.img-responsive{:alt => "", :src => "assets/img/sobrenos/img1.jpg"}/
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion-1", "data-toggle" => "collapse", :href => "#collapse-Three"}
                    Nossos valores
              #collapse-Three.panel-collapse.collapse
                .panel-body
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        / End Accordion
        / Testimonials
        .col-md-5
          #testimonials-1.carousel.slide.testimonials.testimonials-v1
            .carousel-inner
              .item.active
                %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
                .testimonial-info
                  %img{:alt => "", :src => "assets/img/sobrenos/img7.jpg"}/
                  %span.testimonial-author
                    Jeremy Asigner
                    %em Web Developer, Unify Theme.
              .item
                %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
                .testimonial-info
                  %img{:alt => "", :src => "assets/img/sobrenos/user.jpg"}/
                  %span.testimonial-author
                    User
                    %em Java Developer, Htmlstream
              .item
                %p Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..
                .testimonial-info
                  %img{:alt => "", :src => "assets/img/sobrenos/img2.jpg"}/
                  %span.testimonial-author
                    Kate Davenport
                    %em Web Designer, Google Inc.
            .carousel-arrow
              %a.left.carousel-control{"data-slide" => "prev", :href => "#testimonials-1"}
                %i.icon-angle-left
              %a.right.carousel-control{"data-slide" => "next", :href => "#testimonials-1"}
                %i.icon-angle-right
        / End Testimonials
      .margin-bottom-50
    / /container
    / === End Content Part ===
    / === Copyright ===
    .copyright
      .container
        .row
          .col-md-6
            %p.copyright-space
              2014 &copy; PoolSite. Todos os direitos reservados.
        / /row
      / /container
    / /copyright
    / === End Copyright ===
    / JS Global Compulsory
    %script{:src => "assets/plugins/jquery-1.10.2.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/hover-dropdown.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/back-to-top.js", :type => "text/javascript"}
    / JS Implementing Plugins
    %script{:src => "assets/plugins/flexslider/jquery.flexslider-min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/fancybox/source/jquery.fancybox.pack.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/bxslider/jquery.bxslider.js", :type => "text/javascript"}
    / JS Page Level
    %script{:src => "assets/js/app.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function () {
          App.init();
          App.initSliders();
          App.initFancybox();
          App.initBxSlider();
      });
    /[if lt IE 9]
      <script src="assets/plugins/respond.js"></script>
